.container.landingPage
  = image_tag 'bg.jpg',class:"topPage-img"
  .row
    .topPage-siteTitle.col-xs-12
      %h1= t('common.sitetitle')
      = simple_format(t('common.sitecomment'),:class => "lead")
    .ver
      ver 1.2.2a