<div class="container landingPage">
  <%= image_tag 'bg.jpg',class:"landingPage-img"%>
  <div class="row">
    <div class="siteTitle col-xs-12">
      <h1>GourMemo</h1>
      <p class="lead">
        「いつかその時」のために、<br>
        　　　　　気になったお店を登録しておこう！
      </p>
    </div>
  </div>
</div>
