<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <% if @article.id.blank? %>
            <h3 class="panel-title">新規登録</h3>
            <% else %>
            <h3 class="panel-title">~修正画面~ 投稿ID：<%=@article.id %> / 投稿者名：<%=@article.user_info.name %></h3>
            <% end %>
          </div>
          <div class="panel-body">
            <%= render 'form', modal: true %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%#エラーで遷移後にウインドウを閉じれないため、Backにする。要検討 %>
        <%= link_to '閉じる',:back ,class:"btn btn-default"%>
      </div>
  </div>
</div>
