<div class="articleDetail-like" id="likeForm">
  <% if current_user.already_liked?(article) %>
    <%= button_to  article_like_path(article,article.likes),class:"likes-button likes-button_dislike btn btn-danger" ,method: :delete,remote:true  do %>
      <i class="fa fa-ban" aria-hidden="true"></i> イイねを取り消す
    <% end %>
  <% else %>
    <%= form_for [article, like],remote:true do |f| %>
      <button type="submit" class="likes-button likes-button_like btn btn-primary">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> イイね！
      </button>
    <% end %>
  <% end %>
</div>
