//pcのみの設定
@mixin mq-pc {
    @media screen and (min-width: 980px) {
        @content;
    }
}
//タブレットのみの設定
@mixin mq-tablet {
    @media screen and (min-width: 768px) and (max-width: 979px)  {
        @content;
    }
}
//スマホのみの設定
@mixin mq-phone {
    @media screen and (max-width: 767px){
        @content;
    }
}
//余った文を・・・表示
@mixin ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
//viewportを基準とした相対値でfont sizeを決める
//(memo)第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力する
@function get_vw($size, $viewport:320){
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}
@mixin fz_vw($font_size:10){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}
$colors: (
    twitter: #55acee,
    facebook: #3b5998,
);

@function colors($key) {
    @return map-get($colors, $key);
}
//colors(名前)のように使用

//改行を許可
@mixin acceptBR{
  word-break: break-all;
  white-space: pre-line;
}


//全体にかかるCommon設定
body{overflow-x: hidden;}
.scrollLock{overflow-y: hidden;}
.btn_sizeM{
  width:150px;
}
.pageTitle{color:black !important;}
//ユーザー一覧の詳細デザイン
//命名規則　
//.block {} // 親要素
//.block-element {} // 子要素
//.block_modifier {} // 親要素のバージョン違い
//.block-element_modifier {} // 子要素のバージョン違い

//SNSのリンク用クラス
.links{
  padding:0px 15px 15px;
  &-sns {
   margin-top:5px;
    >div{
      margin-bottom:5px;
      a{
         display: inline-block;
         color:#FFFFFF;
         padding:5px;
         border-radius: 3px;
         text-decoration: none !important;
       }
     }
    &_twitter{
       background-color: colors(twitter) ;
      }
    &_facebook{
       background-color: colors(facebook) ;
    }
  }
}
//User情報表示用クラス
.userForm{
  margin: 0px;
  padding-bottom: 5px;
  &-pageTitle{
    font-size:20px;
    font-weight: bolder;
    padding-right: 15px;
    padding-left: 5px;
  }
  &-password{
    padding-bottom: 0px;
  }
  &-avater{
    margin-top:15px;
    margin-bottom:5px;
    text-align: center;
    padding:0px !important;
  }
  &-icon {
    display: inline-block;
    position: relative;
    top:3px;
    right:20px;
    margin-bottom: 0px;
    &_fa{
      top:0px;
    }
  }
  &-title {
    font-weight: bold;
    display: inline-block;
    position: relative;
    right:20px;
    top:0px;
    margin-bottom: 0px;
  }
  &-follow {
    text-align: center;
  }
  &-form {

  }
  &-data{

  }
  &-common {
    margin-top:10px;
  }
  &-button {
    text-align: center;
  }
  &-relation {
    text-align: left;
    position: relative;
    right:20px;
    &_follow{}
    &_follower{}
  }
  &_br{@include acceptBR;}
}
//記事一覧表示用クラス
.articleList{
  &_header{padding-top:10px;}
  &_footer{border-bottom: 1px solid gainsboro;padding-bottom: 10px;}
  &-picture{min-height: 90px!important;}
  &-dateTime{
    text-align:right;
    font-size:80%;
  }
  &-title{
    padding:5px 0px;
    font-size:120%;
    font-weight: bolder;
  }
  &-content{
    @include ellipsis;
  }
  &-contributor{
    text-align:left;
    font-size:50%;
    @include ellipsis;
  }
  &-button{
    margin-top:5px;
    text-align: left;
        >a{
        color:#FFFFFF;
        text-decoration: none !important;
        }
    .active{width:130px;}
    &_delete{
      padding:5px 5px;
    }
    &_like{
      >ul>li >a{padding:4px;}
      position: relative;
      right:15px;
    }
  }
  &_fontMinimum{
    font-size:50%;
    margin:0px;
  }
  &_large{
    font-size:120%;
    margin:0px;
  }
  &-search{
    text-align: left;
    border: 1px solid #FFF;
    border-radius: 10px;
    background: #FFF;
    padding:10px;
    margin-bottom: 10px;
    padding-top:20px;
  }
  &-searchForm{

  }
  &-serchButton{
    position: relative;
    top:30px;
  }

}
#like_none{background: silver;
  .badge{color:gray;}
}
//記事詳細 & 修正画面　表示用クラス
//Bootstrap既存クラスのオーバーライド


.articleDetail{
  &-picture{
    padding-bottom:15px;
    text-align: center;
    &_button{padding-top:5px;}
  }
  &-name{
    font-size:120%
  }
  &-comment{
    @include acceptBR;
  }
  &-imput{
    width:100%;
    padding:5px;
    &_textArea
    {
      height: 150px;
      resize: none;
    }
  }
  &-buttons{
    text-align: right;
    margin-top:10px;
    margin-bottom:10px;
    &_someoneEvaluate{
      height: 30px;
      // position:relative;
      // top:14px;
      // right:10px;
      text-align: right;
    }
  }
  &-dataTable{
      margin-bottom: 10px !important;
      tr > th{
        width:120px;
      }
    &_divider{
      padding:0px !important;
      height: 1px;
    }
  }
  &-evaluate{
    margin-bottom: 0px !important;
  }
  &-likes{
    text-align: right;
    padding-bottom:10px;
  }
}
//Like関連
.likes{
  &-button{
    &_like{}
    &_dislike{}
  }
}



//アバター等の画像調整サイズ
img{//Helperに渡すavatar用クラス　すべてimg限定
  &.imageSize{
    &_myPage{
      width:200px!important;
      height:auto;
    }
    &_userIndex{
      max-width:120px!important;
      height:auto;
    }
    &_myPageShow{
        max-width:150px!important;
        height:auto;
    }
    &_myPageFollow{
        max-width:30px!important;
        height:auto;
    }
    &_indexArticle{
        max-width:100px!important;
        height:auto;
    }
    &_detailArticle{
        max-width:200px !important;
        height:auto;
    }
    &_indexAvatar{
        max-width:30px!important;
        height:auto;
        margin-bottom: 3px;
    }
  }
}

.evaluate{
  &-table{
  }
  &-tableTitle{width:120px;}
  &-buttons{
    text-align: center;
    margin-top:-30px;
    padding-bottom: 10px;
  }
}
//評価で使用している☆の設定
.input-range {

}
.range-group {
  position: relative;
}
.range-group > a {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-decoration: blink !important;
}
.range-group > a:before {
  content: "☆";
  font-family: "Ionicons";
  font-size: 20px;
  color: #aaa;
}
.range-group [type="range"] {
  display: none!important;
}
.range-group > a.on:before {
  content: "★";
  color: #fc3;
}
//Helper用の☆設定
.stars{
  &_on{color: #fc3;}
  &_off{color: #aaa;}
}

//TOPページの表
.topTable{
  th {background-color:ghostwhite;}
  td {
    width:120px;
    &.date{width:100px;}
    &.name{@include ellipsis;}
    &.place{@include ellipsis;}
    &.point{@include ellipsis;}
    &.dateTime{width:170px;}
  }
}
//ログイン前の最初のページ
.topPage{
  &-img{
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;
  }
  &-siteTitle{
    position:relative;
    top:50px;
    color:#FFF;
    padding:0px;
    margin:0px;
    >h1{
      padding:0px;
      margin:0px;
      @include fz_vw(16);
    }
    >p.lead{
      padding:0px;
      margin:0px;
      margin-top:20px;
      margin-left:20px;
    }
  }
}

//フォームのエラーメッセージ
.errorMsg{
  &_position{position:relative;top:-40px;}
}

//ユーザー一覧画面設定
.showUser {
  padding:5px;
  min-width:180px;
    &--index {
    }
    &_name{
      font-size:1.2em;
      margin:5px;
      min-height: 1em;
    }
    &_email{
      @include ellipsis;
    }
}
.well-sm{
  min-height:2.5em !important;
}
.top_flash{
  position: absolute;
  width: 100%;
  opacity: 0.9;
}
